.container{
  text-align: center;
}

h1{
  margin-top: 40px;
  margin-bottom: 40px;
}

table{
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

#join{
  margin-bottom: 40px;
  width: 100px;
  height: 40px;
}


.U, .C{
  border-bottom: 5px solid black;
  border-bottom: 5px solid black;
}

.R{
  border-left: 5px solid black;
  border-right: 5px solid white;
}

.M{
  border-left: 5px solid black;
}

.L{
  border-left: 5px solid white;
}

.ex{
  background-image: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-red-glossy-icons-alphanumeric/074498-simple-red-glossy-icon-alphanumeric-x-solid.png);
  background-size: 100% 100%;
}

.oh{
  background-image: url(http://www.ribbustingjokes.com/lilsusieq/scrapbook/frames/circle/frame_circle_A_1.png);
  background-size: 100% 100%;
}
